<div class="container mt-4">
  <h1 class="text-center mb-5 mt-5 fw-bold display-5">Exercise Library</h1>

  <div class="row">
    {{#each data}}
      <div class="col-md-4 col-sm-6 mb-3"> <!-- Reduced space between cards -->
        <button
          class="card btn btn-outline-none w-100" <!-- Made the card a button and stretched to full width -->
          data-bs-toggle="modal"
          data-bs-target="#exerciseModal{{@index}}"
          style="border: none; padding: 0; display: block;" <!-- Removed button border and made card clickable -->
        >
          <img src="{{gifUrl}}" class="card-img-top" alt="{{name}}" />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><strong>Equipment:</strong> {{equipment}}</p>
            <p class="card-text"><strong>Target Muscles:</strong> {{target}}</p>
          </div>
        </button>
      </div>

      <!-- Modal for each exercise -->
      <div
        class="modal fade"
        id="exerciseModal{{@index}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{name}}</h5>
            </div>
            <div class="modal-body">
              <img src="{{gifUrl}}" class="card-img-top mb-3" alt="{{name}}" />
              <p><strong>Name:</strong> {{name}}</p>
              <p><strong>Target Muscles:</strong> {{target}}</p>
              <p><strong>Equipment:</strong> {{equipment}}</p>
              <p>{{instructions}}</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
