{{>message}}
<div class="container mt-4">
    <h1 class="text-center mb-5 mt-5 fw-bold display-5 text-white">My Workouts</h1>
    <div class="row justify-content-center">
        <div class="col-auto" >
            <button class="btn bg-light-green my-5" data-bs-toggle="modal" data-bs-target="#event_modal">
                Create Workout
            </button>

        </div>

        <div
            class="modal fade"
            id="event_modal"
            tabindex="-1"
            aria-labelledby="event_modal_label"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-steel">
                    <div class="modal-header">
                        <h4 class="modal-title" id="event_modal_label">Workout Information</h4>
                        <button
                            type="submit"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        >
                        </button>
                    </div>

                    <div class="modal-body">
                        <form
                        id="data-form"
                        class="needs-validation"
                        method="post"
                        action="/myworkouts"
                        >
                        <div class="mb-3">
                            <label for="workoutName" class="form-label"><strong>Workout Name</strong></label>
                            <input
                            type="text"
                            class="form-control box-outline-lime"
                            id="workoutName"
                            name="workoutName"
                            required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="workoutMuscle" class="form-label fs-5 mb-4"><strong>Exercises</strong></label>
                            {{#each exercisesByMuscleTarget}}
                                <h6 class="mb-3"><strong>{{muscleTarget}}</strong></h6>
                                {{#each exercises}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{exercise_name}}" id="{{exercise_name}}" name="exercises[]">
                                    <label class="form-check-label mb-3" for="flexCheckDefault">
                                        {{exercise_name}}
                                    </label>
                                </div>
                                {{/each}}
                                <hr>
                            {{/each}}
            
                        </div>
                
                        <div class="mb-3">
                            <label for="avg_time" class="form-label"><strong>Time for Completion</strong></label>
                            <div>
                                <label for="hour" class="form-label">Hour</label>
                                <input type="number" class="form-control box-outline-lime text-white" id="hour" name="hour" min="0" max="23" placeholder="HH" required>
                            </div>
                            <div>
                                <label for="minute" class="form-label">Minute</label>
                                <input type="number" class="form-control box-outline-lime text-white" id="min" name="min" min="0" max="59" placeholder="MM" required>
                            </div>

                        </div>
                        <div class="mt-4">
                            <button class="btn bg-light-green" type="submit">
                                Create Workout
                            </button>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center ">
            <div class="row w-100" style="max-width: 1140px;">
                {{#if workouts.length}}
                    {{#each workouts}}
                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card bg-steel">
                            <div class="card-body">
                                <h5 class="card-title text-white mb-3 fs-3">{{workout_name}}</h5>
                                <p class="card-text text-white"><strong>Time:</strong> {{time_hours}} hours {{time_minutes}} minutes</p>
                                <p class="card-text text-white"><strong>Number of Exercises:</strong> {{exercises.length}}</p>
                                <div>
                                    <button
                                    class="btn btn-outline-light-green login-secondary-btn-green mt-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#info_modal_{{@index}}"
                                    >
                                    View More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for  workout -->
                    <div
                    class="modal fade"
                    id="info_modal_{{@index}}"
                    tabindex="-1"
                    aria-labelledby="info_modal_label_{{@index}}"
                    aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg-steel">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="info_modal_label_{{@index}}">Workout Information</h4>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <h1 class="text-white">{{workout_name}}</h1>
                                    <p><strong>Time:</strong> {{time_hours}} hours {{time_minutes}} minutes</p>
                                    <p><strong>Exercises:</strong></p>
                                    <ul>
                                        {{#each exercises}}
                                            <li>{{exercise_name}} - {{muscle_target}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


                {{else}}
                    <div class="text-center mt-5 text-secondary">
                        <h2>Your workout list is empty. Add one to begin.</h2>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
