<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href="/"><img
                src="../../images/Lift_track_logo_no_background.png"
                style="width:64px;height:64px;"
              /></a>
          {{else}}
            <a class="nav-link" href="/login"><img
                src="../../images/Lift_track_logo_no_background.png"
                style="width:64px;height:64px;"
              /></a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href="/exercises">Exercises</a>
          {{else}}
            <a class="nav-link" href="/login">Exercises</a>
          {{/if}}
        </li>
        <li class="dropdown">
          <button class="dropbtn">My Fitness</button>
          <div class="dropdown-content">
            {{#if user}}
              <a class="nav-link" href="/myplan">My Plan</a>
            {{else}}
              <a class="nav-link" href="/login">My Plan</a>
            {{/if}}
            {{#if user}}
              <a class="nav-link" href="/tracking">Tracking/Analytics</a>
            {{else}}
              <a class="nav-link" href="/login">Tracking/Analytics</a>
            {{/if}}
            {{#if user}}
              <a class="nav-link" href="/myworkouts">My Workouts</a>
            {{else}}
              <a class="nav-link" href="/login">My Workouts</a>
            {{/if}}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{user.email}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>