<div class="container mt-4">
  <h1 class="text-center mb-5 mt-5 fw-bold display-5">Exercise Library</h1>

  <div class="row">
    {{#each mergedExercises}}
      <div class="col-md-4 col-sm-6 mb-3">
        <!-- Reduced space between cards -->
        <button
          class="card btn btn-outline-none w-100 exercise_cards px-3 py-4"
          data-bs-toggle="modal"
          data-bs-target="#exerciseModal{{@index}}"
        >
          <img src="{{gifUrl}}" class="card-img" alt="{{name}}" />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><strong>Equipment:</strong> {{equipment}}</p>
            <p class="card-text"><strong>Target Muscles:</strong> {{target}}</p>
          </div>
        </button>
      </div>

      <!-- Modal for each exercise -->
      <div
        class="modal fade"
        id="exerciseModal{{@index}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content bg-steel">
            <div class="modal-header">
              <h5 class="modal-title display-4"><strong>{{name}}</strong></h5>
            </div>
            <div class="modal-body">
              <div class="bg-steel">
                <img
                  src="{{gifUrl}}"
                  class="card-img-top mb-3 rounded"
                  alt="{{name}}"
                />
                <p class="text-white"><strong>Target Muscles:</strong>
                  {{target}}</p>
                <p class="text-white"><strong>Equipment:</strong>
                  {{equipment}}</p>
                <p class="text-white"><strong>Instructions:</strong>
                <p class="text-white">{{instructions}}</p>
                <div class="ratio ratio-16x9 mb-3">
                  <iframe
                    src="{{videoId}}"
                    title="YouTube video player"
                    allowfullscreen
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn bg-light-green"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>