{{>message}}
            
<div class="container mt-4">
    <h1 class="text-center">My Workouts</h1>
    
    <div class="row justify-content-center">
        <div class="col-auto" >
            <button class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#event_modal">
                Create Workout
            </button>
            <br>
            <br>
            <br>
        </div>
        <div class="col-auto" >
            <button class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#default_modal">
                Add a Default Workout
            </button>
            <br>
            <br>
            <br>
        </div>

         <div
            class="modal fade"
            id="default_modal"
            tabindex="-1"
            aria-labelledby="default_modal_label"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="default_modal_label">Default Workouts</h5>
                        <button
                            type="submit"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        >
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                        id="data-form"
                        class="needs-validation"
                        method="post"
                        action="/add_default_workout"
                        >
                        <div class="list-group">
                            {{#each defaultWorkouts}}
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h5>{{workout_name}} ({{time_hours}} hour(s) {{time_minutes}} minutes)</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            {{#each exercises}}
                                                <li class="list-group-item">
                                                    <p><strong>{{exercise_name}}</strong> - {{muscle_target}}</p>
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <div class="form-check mt-3">
                                            <input 
                                                class="form-check-input" 
                                                type="radio" 
                                                name="workouts" 
                                                value="{{workout_name}}" 
                                                id="workout-{{workout_name}}"
                                                required
                                            >
                                            <label class="form-check-label" for="workout-{{workout_name}}">
                                               Select
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>

                         <button class="btn btn-primary" type="submit">
                            Add Workout
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="event_modal"
            tabindex="-1"
            aria-labelledby="event_modal_label"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="event_modal_label">Workout Information</h5>
                        <button
                            type="submit"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        >
                        </button>
                    </div>

                    <div class="modal-body">
                        <form
                        id="data-form"
                        class="needs-validation"
                        method="post"
                        action="/myworkouts"
                        >
                        <div class="mb-3">
                            <label for="workoutName" class="form-label"><strong>Workout Name</strong></label>
                            <input
                            type="text"
                            class="form-control"
                            id="workoutName"
                            name="workoutName"
                            required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="workoutMuscle" class="form-label"><strong>Exercises</strong></label>
                            {{#each exercisesByMuscleTarget}}
                                <h6><strong>{{muscleTarget}}</strong></h6>
                                {{#each exercises}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{exercise_name}}" id="{{exercise_name}}" name="exercises[]">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{exercise_name}}
                                    </label>
                                </div>
                                {{/each}}
                            {{/each}}
            
                        </div>
                
                        <div class="mb-3">
                            <label for="avg_time" class="form-label"><strong>Time for Completion</strong></label>
                            <div>
                                <label for="hour" class="form-label">Hour</label>
                                <input type="number" class="form-control" id="hour" name="hour" min="0" max="23" placeholder="HH" required>
                            </div>
                            <div>
                                <label for="minute" class="form-label">Minute</label>
                                <input type="number" class="form-control" id="min" name="min" min="0" max="59" placeholder="MM" required>
                            </div>

                        </div>
                        <button class="btn btn-primary" type="submit">
                            Create Workout
                        </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="row w-100" style="max-width: 1140px;">
                {{#if workouts.length}}
                    {{#each workouts}}
                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <img src="/img/weight.png" class="card-img-top w-75 mx-auto d-block mt-3" alt="Workout Image" />
                                
                                <h5 class="card-title">{{workout_name}}</h5>
                                <p class="card-text"><strong>Time:</strong> {{time_hours}} hour(s) {{time_minutes}} minutes</p>
                                <p class="card-text"><strong>Number of Exercises:</strong> {{exercises.length}}</p>
                                <div>
                                    <button
                                    class="btn btn-light mt-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#info_modal_{{@index}}"
                                    >
                                    View More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for  workout -->
                    <div
                    class="modal fade"
                    id="info_modal_{{@index}}"
                    tabindex="-1"
                    aria-labelledby="info_modal_label_{{@index}}"
                    aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="info_modal_label_{{@index}}">Workout Information</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <h1>{{workout_name}}</h1>
                                    <p><strong>Time:</strong> {{time_hours}} hour(s) {{time_minutes}} minutes</p>
                                    <p><strong>Exercises:</strong></p>
                                    <ul>
                                        {{#each exercises}}
                                            <li>{{exercise_name}} - {{muscle_target}}</li>
                                        {{/each}}
                                    </ul>
                                
                                    <div class="d-flex justify-content-start gap-2 mt-3">
                                        <button  class="btn btn-outline-secondary"  data-bs-dismiss="modal" onclick="setTimeout(() => bootstrap.Modal.getOrCreateInstance(document.querySelector('#edit_modal_{{@index}}')).show(), 500)">Edit Workout</button>
                
                                        <br>
                                        <form action="/deleteWorkout" method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="workoutId" value="{{workout_id}}">
                                            <button type="submit" class="btn btn-outline-danger">Delete Workout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                         
                    <div
                        class="modal fade"
                        id="edit_modal_{{@index}}"
                        tabindex="-1"
                        aria-labelledby="edit_modal_label"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edit_modal_{{@index}}">Edit Workout</h5>
                                    <button
                                        type="submit"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    >
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form
                                    id="data-form"
                                    class="needs-validation"
                                    method="post"
                                    action="/editWorkout"
                                    >
                                        <input type="hidden" name="workoutId" value="{{workout_id}}">
                                        <div class="mb-3">
                                            <label for="workoutName" class="form-label"><strong>Workout Name</strong></label>
                                            <input
                                            type="text"
                                            class="form-control"
                                            id="workoutName"
                                            name="workoutName"
                                            value="{{workout_name}}"
                                            required
                                            />
                                        </div>
                                
                                        <div class="mb-3">
                                            <label for="avg_time" class="form-label"><strong>Time for Completion</strong></label>
                                            <div>
                                                <label for="hour" class="form-label">Hour</label>
                                                <input type="number" class="form-control" id="hour" name="hour" min="0" max="23" placeholder="HH" value="{{time_hours}}"required>
                                            </div>
                                            <div>
                                                <label for="minute" class="form-label">Minute</label>
                                                <input type="number" class="form-control" id="min" name="min" min="0" max="59" placeholder="MM" value="{{time_minutes}}"required>
                                            </div>

                                        </div>
                                        <p><strong>Exercises:</strong></p>
                                        <div class="mb-3">
                                            {{#each exercises}}
                                                <li>{{exercise_name}} - {{muscle_target}}</li>
                                            {{/each}}
                                        </ul>
                                        </div>
                                        <button class="btn btn-primary" type="submit">
                                            Submit Edit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {{/each}}
                </div>

                {{else}}
                    <div class="text-center mt-5 text-secondary">
                        <h2>Your workout list is empty. Add one to begin.</h2>
                        <p class="text-muted fst-italic">Start your fitness journey today — your future self will thank you!</p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

